<div th:fragment="edit_user">
    <div class="container-sm">
        <form class="text-center"
              method="POST"
              th:action="@{/admin/edit}"
              th:id="${'editForm' + user.id}"
              th:object="${user}">
            <div class="row mb-3">
                <div class="d-grid">
                    <b><label for="editId" class="center">ID</label></b>
                    <span th:utext="${user.getId()}"></span>
                    <input type="hidden" class="form-control" name="id" th:value="${user.getId()}"
                           id="editId">
                </div>
            </div>
            <div class="row mb-3">
                <div class="d-grid">
                    <b><label for="editFirstName" class="center">First name</label></b>
                    <div class="m-2">
                        <input type="text" class="align-content-md-center form-control" name="firstName"
                               th:value="${user.getFirstName()}"
                               id="editFirstName">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="d-grid">
                    <b><label for="editLastName" class="center">Last name</label></b>
                    <div class="m-2">
                        <input type="text" class="align-content-md-center form-control" name="lastName"
                               th:value="${user.getLastName()}"
                               id="editLastName">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="d-grid">
                    <b> <label for="editAge" class="center">Age</label></b>
                    <div class="m-2">
                        <input type="number" class="align-content-md-center form-control" name="age"
                               th:value="${user.getAge()}" id="editAge">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="d-grid">
                    <b> <label for="editEmail" class="center">Email</label></b>
                    <div class="m-2">
                        <input type="email" class="align-content-md-center form-control" name="email"
                               th:value="${user.getEmail()}" id="editEmail">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="d-grid">
                    <b> <label for="editPassword" class="center">Password</label></b>
                    <div class="m-2">
                        <input type="password" class="align-content-md-center form-control" name="password"
                               value="*****" id="editPassword">
                    </div>
                </div>
            </div>

            <div class="form-check" th:each="role: ${roles}">
                <input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="${role.getId()}"
                       id="formCheckDefault">
                <b><label class="form-check-label" for="formCheckDefault" th:text="${role.getRoleName()}"> </label> </b>
            </div>
        </form>
    </div>
</div>