<div th:fragment="user_table">
    <div class="border mx-auto">
        <h4 class="mt-3 ms-3"> All users</h4>
        <div class="border mx-auto px-4 py-4 bg-white text-dark">
            <div class="border-top mx-auto">
                <table class="table table-borderless table-hover">
                    <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            First name
                        </th>
                        <th>
                            Last name
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            E-mail
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                    </thead>
                    <tbody  id="id"> </tbody>
                </table>
            </div>
        </div>
    </div>
</div>