<div th:fragment="user_table">
    <h4 class="mt-3 ms-2"> All users</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Login
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
        </thead>
        <tbody>
        <th:forEach th:each="user : ${users}">
            <tr>
                <td th:utext="${user.getId}"></td>
                <td th:utext="${user.getLogin}"></td>
                <td>
                    <!--                     Кнопка-триггер модального окна-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#exampleModal'+${user.getId}" th:data-row="${user}">
                        Edit
                    </button>

                    <!-- Модальное окно -->
                    <div class="modal fade" th:id="'exampleModal'+${user.getId}" tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <!--                                    FORM-->
                                    <form th:action="@{/admin/edit}" th:object="${user}" id="form_edit" method="post">
                                        <table>
                                            <tr>
                                                <td>ID:</td>
                                                <td th:utext="${user.getId()}"></td>
                                                <td><input type="hidden" name="id" th:value="${user.getId()}"/></td>
                                            </tr>
                                            <tr>
                                                <td>Login:</td>
                                                <td><input type="text" name="login" th:value="${user.getLogin()}"/></td>
                                            </tr>
                                            <tr>
                                                <td>Password:</td>
                                                <td><input type="text" name="password"
                                                           value="***"/></td>
                                            </tr>
                                            <tr>
                                                <select id="multiple-hobbies" name="roles" th:value="*{roles}"
                                                        multiple="multiple">

                                                    <option th:each="role: ${roles}"
                                                            th:value="${role.getId()}" th:text="${role.getRoleName()}">
                                                </select>
                                            </tr>
                                        </table>
                                    </form>
                                    <!--                                    END FORM-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                    </button>
                                    <button type="submit" class="btn btn-primary" form="form_edit">Сохранить изменения
                                    </button>
                                    <!--                                    <a th:href="'#id?'+${user.getId()}">Edit</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    <a th:href="@{/admin/edit(id=${user.getId()})}">Edit</a>            -->
                </td>
                <td>
                    <a th:href="@{/admin/delete(id=${user.getId()})}">Delete</a>
                </td>
            </tr>
        </th:forEach>
        </tbody>
    </table>
</div>