<div th:fragment="user_info">
  <table class="table table-hover" th:object="${user}">
    <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        First name
      </th>
      <th>
        Last name
      </th>
      <th>
        Age
      </th>
      <th>
        E-mail
      </th>
      <th>
        Role
      </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td th:utext="${user.getId}"></td>
        <td th:utext="${user.getFirstName}"></td>
        <td th:utext="${user.getLastName}"></td>
        <td th:utext="${user.getAge}"></td>
        <td th:utext="${user.getEmail}"></td>
        <td th:utext="${user.getRoles}"></td>
    </tbody>
  </table>
</div>